<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CentroRehabWell, Bienestar integral</title>
    <link rel="shortcut icon" href="../imagenes/favicon.png">
    <link rel="stylesheet" href="../css/flexbox.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>

<body>
    <header class="header">
        <div class="logo">
            <a href="../Index.html">
                <img src="../imagenes/logo-transparente.png" alt="logo de CentroRehabWell">
            </a>
        </div>
        <nav>
            <ul>
                <li><a href="../Views/Servicios.html">Servicios<a>
                <li>
                <li><a href="../Views/Nosotros.html">Quienes Somos</a></li>
            </ul>
        </nav>
    </header>
    <!-- ends nav -->
    <section>
        <div class="tarjetaNosotros">
            <div class="imgNosotros">
                <img src="../imagenes/paciente.jpg" alt="paciente haciendo ejercicio">
            </div>
            <div class="conteinerNosotros">
                <h2 class="titleH2">Un equipo multidisciplinar y especializado</h2>
                <p class="paragraphNosotros">Somos un equipo multidisciplinar especializado en la rehabilitación
                    integral del adulto mayor y del paciente dependiente. Para ello contamos con diferentes áreas de
                    intervención: fisioterapia, osteopatía, terapia ocupacional, estimulación cognitiva funcional,
                    pilates, ejercicio terapéutico y psiconeuroinmunología clínica (PNIc).</p>
            </div>
        </div>
        <br>
        <H2 class="textCenter">¡Nuestra ilusión es tu salud!</H2>
        <br>
        <div class="tarjetaNosotros">
            <div class="conteinerNosotros">
                <h2 class="titleH2">Nuestros valores</h2>
                <p class="paragraphNosotros">La cercanía y el trato personalizado que ofrecemos a todos nuestros
                    usuarios, es nuestra gran seña de identidad.
                    El alto grado de especialización clínica de nuestro equipo profesional en las patologías más
                    frecuentes en el adulto y paciente dependiente, nos permiten ofrecer una gran calidad asistencial
                    centrada en sus patologías más frecuentes.
                    La posibilidad de elegir el lugar de tratamiento; bien en las instalaciones de nuestra clínica, o
                    dentro de su domicilio o residencia provisional (hospital, residencia…), facilita las posibilidades
                    de acceso a un proceso de rehabilitación funcional por parte de nuestros pacientes y sus familias.
                </p>
            </div>
            <div class="imgNosotros">
                <img src="../imagenes/nosotros.jpg" alt="paciente haciendo ejercicio">
            </div>
        </div>
    </section>
    <h3 class="textCenter">Espacios</h3>
    <div class="galeriaNosotros">
        <img src="../imagenes/galeria1.jpg" alt="Espacio de trabajo">
        <img src="../imagenes/galeria2.jpg" alt="Espacio de trabajo">
        <img src="../imagenes/galeria3.jpg" alt="Espacio de trabajo">
        <img src="../imagenes/galeria4.jpg" alt="Espacio de trabajo">
        <img src="../imagenes/galeria5.jpg" alt="Epacio de trabajo">
        <img src="../imagenes/consultorio.jpg" alt="Espacio de trabajo">
    </div>

    <footer>
        <h2 class="footerTitle">Seguinos en nuestras redes</h2>
        <div class="footerContainer">
            <a href="https://www.facebook.com" target="_blak">
                <img class="footerImg" src="../imagenes/facebook.png" alt="">
            </a>
            <a href="https://www.instagram.com" target="_blak">
                <img class="footerImg" src="../imagenes/insta.png" alt="">
            </a>
            <a href="https://tiktik.com" target="_blak">
                <img class="footerImg" src="../imagenes/tiktok.png" alt="">
            </a>
        </div>
    </footer>
</body>

</html>