<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CentroRehabWell, Bienestar integral</title>
    <link rel="shortcut icon" href="../imagenes/favicon.png">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" href="../css/flexbox.css">
</head>
<body>
    <header class="header">
        <div class="logo">
           <a href="../Index.html">
            <img src="../imagenes/logo-transparente.png" alt="logo de CentroRehabWell">
           </a>
       </div>
           <nav>
           <ul>
            <li><a href="../Views/Servicios.html">Servicios<a><li>
             <li><a  href="../Views/Promociones.html">Promociones</a></li>
            <li><a href="../Views/Nosotros.html">Nosotros</a></li>
           </ul>
       </nav>
   </header>
        <div>
        <img class="headerImg" src="../imagenes/relax.jpg" alt="Persona disfrutando un masaje" >
         </div>
         <div>
            <img class="headerImg" src="../imagenes/hero2.jpg" alt="">
         </div>
         <!-- Meter Grip al contenedor  -->
    </Header>
    
    <main>
        <section>
            <table border ="3px" cellpadding="5px" cellspacing="5px">
                <tr>
                    <th>Producto</th>
                    <th>Cantidad de Zonas</th>
                    <th>Precio</th>
                </tr>
                <tr>
                    <td>Depilación</td>
                    <td>2</td>
                    <td>$1200</td>
                </tr>
                <tr>
                    <td>Depilación</td>
                    <td>3</td>
                    <td>$1650</td>
                </tr>
                <tr>
                    <td>Depilación</td>
                    <td>4</td>
                    <td>$2000</td>
                </tr>
            </table>
        </section>
    </main>
    <footer>
        <h2 class="footerArticle">Seguinos en nuestras redes</h2>
        <a href="https://www.facebook.com" target="_blak">
            <img class="footerImg" src="../img/face.png" alt="">
        </a>
        <a href="https://www.instagram.com" target="_blak">
            <img class="footerImg" src="../img/insta.png" alt="">
        </a>
        <a href="https://tiktik.com" target="_blak">
            <img class="footerImg" src="../img/tiktok.png" alt="">
        </a>
    </footer>
</body>
</html>