<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/estilo.css" .css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <title>Contenedores con Imágenes y Palabras</title>
</head>

<body>
  <div class="contenedorMain">
    <div class="tarjetaMain">
      <h3 class="h3Main">Tratamientos fisioterapia y Osteopatía</h3>
      <P class="pService">Adaptamos nuestros tratramientos a lo que tu diagnóstico necesita. Trabajamos en
        diferentes áreas:
        Neurología, respiratorio y traumatologia.
        Incorporamos un nuevo servicio llamado osteopatia, destinaío a brindarte un abordaje holístico a nuestro
        centro de salud.</P>
      <img class="imgMain" src="imagenes/drenaje.jpg" alt="Persona disfrutando un masaje">
      <img class="imgMain" src="imagenes/osteopatia.jpg" alt="Persona disfrutando un masaje">
    </div>
    <div class="tarjetaMain">
      <img class="imgMain" src="imagenes/drenaje.jpg" alt=""> 
        <h3 class="h3Main">Tratamiento a domicilio</h3>
      <p class="paragraphMain">Evitamos el desplazamiento del paciente, abordando patologías clínicas dentro
        su entorno.</p>
    </div>
    <div class="tarjetaMain">
      <img class="imgMain" src="imagenes/pilates.jpg" alt="Persona disfrutando un masaje">
        <h3 class="h3Main">Pilates y ejercicio terapéutico</h3>
      <p class="paragraphMain">A través del movimiento y el ejercicio dirigido buscamos la prevención y
        tratamiento de la salud global de nuestros usuarios.</p>
    </div>
    <div class="tarjetaMain">
      <img class="imgMain" src="imagenes/terapiaOcupacional.jpg" alt="">
        <h3 class="h3Main">Estimulación Cognitiva Funcional</h3>
      <p class="paragraphMain">Abordamos las diferentes áreas cognitivas a través del movimiento y las
        funciones significativas del paciente.</p>
    </div>
  </div>

</body>

</html>