<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CentroRehabWell, Bienestar integral</title>
    <link rel="shortcut icon" href="../imagenes/logo.png">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>

<body>
    <header class="header">
        <div class="logo">
            <a href="../Index.html">
                <img src="../imagenes/logo-transparente.png" alt="logo de CentroRehabWell">
            </a>
        </div>
        <nav>
            <ul>
                <li><a href="../Views/Servicios.html">Servicios<a>
                <li>
                <li><a href="../Views/Nosotros.html">Quienes Somos</a></li>
            </ul>
        </nav>
    </header>
    <section>
    <div class="infoServices">
        <h2 class="h2Service">Fisioterapia y osteopatia</h2>
        <p class="pService">Adaptamos nuestros tratramientos a lo que tu diagnóstico necesita. Trabajamos en diferentes
            áreas:
            Neurología, respiratorio y traumatologia.
            Incorporamos un nuevo servicio llamado osteopatia, destinaío a brindarte un abordaje holístico a nuestro
            centro de salud.</p>
        <div class="contImgService">
            <img class="imgService" src="/imagenes/TratamientosOsteopatia.jpg" alt="Profesional aplicando tecnica">
            <img class="imgService" src="/imagenes/osteopatia.jpg" alt="Profesional aplicando tecnica">
            <img class="imgService" src="/imagenes/drenaje.jpg" alt="Profesional aplicando tecnica">
        </div>
    </div>
    <div class="infoServices">
        <h2 class="h2Service">Tratamiento a domicilio</h2>
        <p class="pService">Una de las referencias de nuestro centro es el abordaje de patologías clínicas dentro
            del entorno habitual
            del paciente.
            Evitamos el desplazamiento de aquellos usuarios que por circunstancias de movilidad necesitan un
            tratamiento
            en su propio domicilio.</p>
        <div class="contImgService">
            <img class="imgService" src="/imagenes/domicilio.jpg" alt="Profesional dialoga con paciente">
            <img class="imgService" src="/imagenes/domicilio2.jpg" alt="Profesional dialoga con paciente">
            <img class="imgService" src="/imagenes/domicilio.jpg3.jpg" alt="Profesional dialoga con paciente">
        </div>
    </div>
    <div class="infoServices">
        <h2 class="h2Service">Pilates Terapéutico</h2>
        <p class="pService">Reeducación y prevención de la salud de nuestra columna, nuestro estado físico y mental.
            Mediante el trabajo
            coordinado de control postural, flexibilidad, fuerza y resistencia de los principales mecanismos
            funcionales. Realizando las sesiones tanto de manera individual, como por grupos reducidos</p>
        <div class="contImgService">
            <img class="imgService" src="/imagenes/pilates2.jpg" alt="Paciente realizando ejercisio">
            <img class="imgService" src="/imagenes/pilates3.jpg" alt="Paciente realizando ejercisio">
            <img class="imgService" src="/imagenes/ejercisios.jpg" alt="Paciente realizando ejercisio">
        </div>
    </div>
</section>
    <footer>
        <h2 class="footerTitle">Seguinos en nuestras redes</h2>
        <div class="footerContainer">
            <a href="https://www.facebook.com" target="_blak">
                <img class="footerImg" src="../imagenes/facebook.png" alt="">
            </a>
            <a href="https://www.instagram.com" target="_blak">
                <img class="footerImg" src="../imagenes/insta.png" alt="">
            </a>
            <a href="https://tiktik.com" target="_blak">
                <img class="footerImg" src="../imagenes/tiktok.png" alt="">
            </a>
        </div>
    </footer>
    
</body>

</html>